{{title}}
<button {{action 'sortBy' true}} class="{{if downArrowHighlighted 'gold'}}">{{{downArrow}}}</button>
<button {{action 'sortBy' false}} class="{{if upArrowHighlighted 'gold'}}">{{{upArrow}}}</button>
