<button {{action 'moveLeft'}}>{{show-brackets '<'}}</button>
<button {{action 'moveRight'}}>{{show-brackets '>'}}</button>

{{title}}
{{#link-to 'posts' (query-params sortProperties=sortProperties sortAscending=true) tagName="button"}}
  <div class="{{if upArrowHighlighted 'gold'}}">
    {{{downArrow}}}
  </div>
{{/link-to}}
{{#link-to 'posts' (query-params sortProperties=sortProperties sortAscending=false) tagName="button"}}
  <div class="{{if downArrowHighlighted 'gold'}}">
    {{{upArrow}}}
  </div>
{{/link-to}}