<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      {{#link-to 'posts.new'}}Create a new post{{/link-to}}
      <br>
      <h2>Posts</h2>
      <table class='table'>
        <thead>
          <tr>
            {{sortable-header title='Title' sortProperty='title' parent=this}}
            {{sortable-header title='Author' sortProperty='author' parent=this}}
            {{sortable-header title='Created' sortProperty='createdAt' parent=this}}
            {{sortable-header title='Updated' sortProperty='updatedAt' parent=this}}
          </tr>
        </thead>
        <tbody>
          {{#each post in arrangedContent}}
          <tr>
            <td>
              {{#link-to 'post' post}}{{post.title}}{{/link-to}}
            </td>
            <td>
              {{post.author}}
            </td>
            <td>
              {{format-date post.createdAt}}
            </td>
            <td>
              {{format-date post.updatedAt}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>