{{#if isEditing}}
  {{post-form post=model afterSave='doneEditing'}}
{{else}}
  <button {{action 'edit'}}>Edit</button><button {{action 'destroy'}}>Destroy</button>
{{/if}}

<h1>{{model.title}}</h1>
<h2>by {{model.author}} <small class='muted'>({{time-ago model.createdAt}})</small></h2>

<hr>

{{#if model.videoUrl}}
  <div class='video'>
    <iframe width="853" height="480" {{bind-attr src=model.deckedOutVideoUrl}} frameborder="0" allowfullscreen></iframe>
  </div>
{{/if}}
<div class='below-the-fold'>
  {{markdown-to-html markdown=model.body}}
</div>