<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      {{#link-to 'posts.new'}}Create a new post{{/link-to}}
      <br>
      <h2>Posts</h2>

      Current page: <b>{{add-one pageNumber}}</b>
      <br>
      <a {{action 'previousPage'}}>Previous Page</a>
      {{#each pages as |page index|}}
        {{#link-to 'posts' (query-params pageNumber=index)}}{{add-one index}}{{/link-to}}
      {{/each}}
      <a {{action 'nextPage'}}>Next Page</a>
      <br>
      Current page size: {{pageSize}}
      <br>
      {{#each possiblePageSizes as |newSize|}}
        <button {{action 'changePageSize' newSize}}>{{newSize}}</button>
      {{/each}}
      <table class='table'>
        <thead>
          <tr>
            {{sortable-header title='Title' sortProperty='title' selectedSorts=sortProperties isAscending=sortAscending}}
            {{sortable-header title='Author' sortProperty='author' selectedSorts=sortProperties isAscending=sortAscending}}
            {{sortable-header title='Created' sortProperty='createdAt' selectedSorts=sortProperties isAscending=sortAscending}}
            {{sortable-header title='Updated' sortProperty='updatedAt' selectedSorts=sortProperties  isAscending=sortAscending}}
          </tr>
        </thead>
        <tbody>
          {{#each post in paginatedContent}}
          <tr>
            <td>
              {{#link-to 'post' post}}{{post.title}}{{/link-to}}
            </td>
            <td>
              {{post.author}}
            </td>
            <td>
              {{format-date post.createdAt}}
            </td>
            <td>
              {{format-date post.updatedAt}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>