<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      {{#link-to 'posts.new'}}Create a new post{{/link-to}}
      <br>
      <h2>Posts</h2>

      Current page: <b>{{add-one pageNumber}}</b>
      <br>
      <a {{action 'previousPage'}}>Previous Page</a>
      {{#each pages as |page index|}}
        {{#link-to 'posts' (query-params pageNumber=index)}}{{add-one index}}{{/link-to}}
      {{/each}}
      <a {{action 'nextPage'}}>Next Page</a>
      <br>
      Current page size: {{pageSize}}
      <br>
      {{#each possiblePageSizes as |newSize|}}
        <button {{action 'changePageSize' newSize}}>{{newSize}}</button>
      {{/each}}
      <br>
      Columns used:
      {{#each availableColumns as |column|}}
        {{checkbox-for-displaying displayedList=columnsUsed displayableItem=column}}
      {{/each}}
      <hr>
      Arrange Columns:
      {{#each columns as |column|}}
        <div>
          <button {{action 'moveUp' column.property}}>^</button>
          {{column.title}}
          <button {{action 'moveDown' column.property}}>v</button>
        </div>
      {{/each}}
      <table class='table'>
        <thead>
          <tr>
            {{#each column in columns}}
              {{sortable-header title=column.title sortProperty=column.property selectedSorts=sortProperties isAscending=sortAscending}}
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each post in paginatedContent}}
          <tr>
            {{#each column in columns}}
              <td>
                {{table-block-output column=column item=post}}
              </td>
            {{/each}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>