<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      {{#link-to 'posts.new'}}Create a new post{{/link-to}}
      <br>
      <h2>Posts</h2>

      <button {{action 'previousPage'}}>Previous Page</button>
      {{#each pages as |page index|}}
        <span class="{{if (is-equal index pageNumber) 'bold big-text'}}">
          {{#link-to 'posts' (query-params pageNumber=index) tagName="button"}}{{add-one index}}{{/link-to}}
        </span>
      {{/each}}
      <button {{action 'nextPage'}}>Next Page</button>
      <br>
      Page size:
      {{#each possiblePageSizes as |newSize|}}
        <button {{action 'changePageSize' newSize}} class="{{if (is-equal newSize pageSize) 'bold big-text'}}">{{newSize}}</button>
      {{/each}}
      <hr>
      Columns used:
      {{#each availableColumns as |column|}}
        {{checkbox-for-displaying displayedList=columnsUsed displayableItem=column}}
      {{/each}}
      <table class='table'>
        <thead>
          <tr>
            {{#each column in columns}}
              {{sortable-header title=column.title sortProperty=column.property selectedSorts=sortProperties isAscending=sortAscending moveLeft="moveLeft" moveRight="moveRight"}}
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each post in paginatedContent}}
          <tr>
            {{#each column in columns}}
              <td>
                {{table-block-output column=column item=post}}
              </td>
            {{/each}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>