<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      {{#link-to 'posts.new'}}Create a new post{{/link-to}}
      <br>
      <h2>Posts</h2>
      <table class='table'>
        <thead>
          <tr>
            <th>
              Title
              <button {{action 'sortBy' 'title' true}}>{{{downArrow}}}</button>
              <button {{action 'sortBy' 'title' false}}>{{{upArrow}}}</button>
            </th>
            <th>
              Author
              <button {{action 'sortBy' 'author' true}}>{{{downArrow}}}</button>
              <button {{action 'sortBy' 'author' false}}>{{{upArrow}}}</button>
            </th>
            <th>
              Created
              <button {{action 'sortBy' 'createdAt' true}}>{{{downArrow}}}</button>
              <button {{action 'sortBy' 'createdAt' false}}>{{{upArrow}}}</button>
            </th>
            <th>
              Updated
              <button {{action 'sortBy' 'updatedAt' true}}>{{{downArrow}}}</button>
              <button {{action 'sortBy' 'updatedAt' false}}>{{{upArrow}}}</button>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each post in arrangedContent}}
          <tr>
            <td>
              {{#link-to 'post' post}}{{post.title}}{{/link-to}}
            </td>
            <td>
              {{post.author}}
            </td>
            <td>
              {{format-date post.createdAt}}
            </td>
            <td>
              {{format-date post.updatedAt}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>