<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      {{#link-to 'posts.new'}}Create a new post{{/link-to}}
      <br>
      <h2 class="text-center">Posts</h2>

      <div class="table-options">
        <div class="table-option">
          <span class="option-name">Current Page</span>
          <button {{action 'previousPage'}}>Previous Page</button>
          {{#each pages as |page index|}}
            <span class="{{if (es-equal index pageNumber) 'bold big-text'}}">
              {{#link-to 'posts' (query-params pageNumber=index) tagName="button"}}{{add-one index}}{{/link-to}}
            </span>
          {{/each}}
          <button {{action 'nextPage'}}>Next Page</button>
        </div>

        <div class="table-option">
          <span class="option-name">Page size</span>
          {{#each possiblePageSizes as |newSize|}}
            <button {{action 'changePageSize' newSize}} class="{{if (es-equal newSize pageSize) 'bold big-text'}}">{{newSize}}</button>
          {{/each}}
        </div>
      </div>

      <div class="table-responsive">
        <table class='table table-striped table-bordered table-condensed'>
          <thead>
            <tr>
              {{#each columns as |column|}}
                {{sortable-header title=column.title sortProperty=column.property selectedSorts=sortProperties isAscending=sortAscending}}
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each post in paginatedContent}}
            <tr>
              {{#each columns as |column|}}
                <td>
                  {{#if (es-equal column.display 'plain')}}
                    {{get post column.property}}
                  {{else if (es-equal column.display 'date')}}
                    {{format-date (get post column.property)}}
                  {{/if}}
                </td>
              {{/each}}
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>